@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

.searchBarContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.searchBarHeader {
    width: 1000px;
}

.searchBarLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchBarLogo .fab {
    font-size: 2rem;
}

.searchBarLogo span {
    padding: 0 10px;
}

.searchBarLogo h2 {
    font-family: 'Oleo Script', cursive;
    color: rgb(65, 65, 65);
    font-size: 2rem;
}

form {
    display: flex;
    justify-content: center;
}

form > input::placeholder {
    text-align: center;
}