.postContainer {
  width: 600px;
  margin: 0 auto;
}

.posts-container-wrapper {
    height: 500px;
    width: 30%;
    margin: 5px auto;
  }
  .postBorder {
    border: 1px solid #8f8f8f;
    margin: 15px 0;
  }
  
  .postPic {
    width: 100%;
  }
  
  .post-header {
    display: flex;
  }
  
  .thumbNailPost {
    height: 40px;
    width: 40px;
  }
  .thumbnail {
    height: 100%;
    border-radius: 50%;
  }
  .like-section {
    display: flex;
  }


  
  .like-section {
    height: 10px;
    width: 10px;
    margin: 10px;
  }